<app-header></app-header>
<mat-card>
  <mat-card-content>
<form [formGroup]="rendezvousForm" (ngSubmit)="openDialog()" >
 
    <mat-form-field class="full-width-input">
      <input
        matInput
        placeholder="objet de rendez vous"
        formControlName="objet"
        required
      />
      <mat-error *ngIf="objet.touched && !objet.valid">
        Veillez remplissez le champs au dessus.
      </mat-error>
    </mat-form-field>
    <label for="comment" >Commentaire</label>
    <textarea  id="comment"  cols="30" rows="10" formControlName="commentaire"></textarea>
    

  
    <span>Entrez votre disponibilité  </span>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date 1 </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date1"
      required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="!date1.valid">
        Veillez saisir une date
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date 2</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date2"
      required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="!date2.valid">
        Veillez saisir une date
      </mat-error>
    </mat-form-field>
    <button mat-button class="blueButton" (click)="reset()">
      Rénitialiser
    </button>
    <button mat-raised-button class="btn btn-primary">Envoyer</button>
  </form>
  </mat-card-content>
</mat-card>